{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}جزئیات {{ post.title }}{% endblock title %}

{% block content %}
<div class="col-8 mx-3">
    <div class="container mt-5 p-4 shadow-lg">
        <h1><a href="#" class="text-decoration-none text-info">{{ post.title }}</a></h1>
        <hr>
        <p>{{ post.description }}</p>
        <hr>
        <h6 class="text-muted small">نویسنده: {{ post.author }}</h6>
        <h6 class="text-muted small">تاریخ ایجاد: {{ post.datetime_created }}</h6>
        <h6 class="text-muted small">تاریخ آخرین ویرایش: {{ post.datetime_modified }}</h6>
        <h6 class="text-muted small">🧡{{ post.likes }}</h6>
    </div>
    <div class="container mt-5 p-4 shadow">
        {% if comments %}
            {% for comment in comments %}
            {% if comment.hide_name %}
            <h4 class="mt-4">شخص ناشناشی گفته</h4>
            {% else %}
            <h4 class="mt-4">{{comment.nickname}} گفته</h4>
        {% endif %}
        <p>{{comment.comment}}</p>
        <hr>
        {% endfor %}
        {% else %}
        <h4 class="mt-4">اولین نفری باشید که نظر می دهید!!!</h4>
        {% endif %}

    </div>
    <div class="container mt-5 p-4 shadow-lg">
        <form method="post" action="" >
            {% csrf_token %}
            <!-- <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="name">نام</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="نام"
                        required>
                </div>
                <div class="form-group col-md-5">
                    <label for="email">ایمیل</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ایمیل">
                </div>
            </div>
            <div class="form-group">
                <label for="address">آدرس</label>
                <input type="text" class="form-control" id="inputAddress" , name="address"
                    placeholder="خیابان شریعتی کوچه پنجم ...">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">شهر</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="رشت">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">استان</label>
                    <select id="inputState" name="state" class="form-control">
                        <option selected>انتخاب کنید</option>
                        <option value="تهران">تهران</option>
                        <option value="خراسان رضوی">خراسان رضوی</option>
                        <option value="اصفهان">اصفهان</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="hide_name">
                        <input class="form-check-input" type="checkbox" id="hide_name" name="hide_name"
                            checked>
                        نام من در سایت نمایش داده نشود و با نام ناشناس نظر من ثبت شود
                    </label>
                </div>
            </div>
            <div class="form-group">
                <textarea class="w-100 form-control mt-3" rows="6" name="comment" id="inputtext" placeholder="به نظر من ..." required></textarea>
            </div> -->
            <table>
                {{form | crispy }}
            </table>
            <button type="submit" class="btn btn-outline-success mt-4 me-4">ارسال نظر</button>
        </form>
    </div>
</div>
{% endblock content %}